[Main Options]

version = 1.1.6


[iRods Options]

# If true, the admin interface does not show the connection dialog box, it uses
# the information from .irodsEnv and .irodsA
quick_connect = false
#quick_connect = true

username = rods
hostname = localhost
zone = tempZone
port = 1247
path = /home/rods/install/iRODS
